/*
	Theme Name: Pilgrim PCA Theme 0.3
	Theme URI: http://www.studiopress.com/themes/minimum
	Description: This theme is based on the Minimum child theme created for the Genesis Framework.
	Author: StudioPress
	Author URI: http://www.studiopress.com/

	Version: 0.3.1

	Tags: one-column, two-columns, left-sidebar, right-sidebar, fixed-width, custom-background, custom-header, custom-menu, full-width-template, sticky-post, theme-options, threaded-comments

	Template: genesis
	Template Version: 1.8

	License: GNU General Public License v2.0 (or later)
	License URI: http://www.opensource.org/licenses/gpl-license.php
*/

/* Table of Contents

* Defaults
* Hyperlinks
* Body
* Wrap
* Header
* Image Header - Partial Width
* Image Header - Full Width
* Header / Primary / Secondary Navigation
* Primary Navigation Extras
* Featured Image
* Inner
* Page Title
* Home Featured
* Breadcrumb
* Taxonomy Description
* Content-Sidebar Wrap
* Content
* Portfolio
* Headlines
* Ordered / Unordered Lists
* Post Info / Meta
* Author Box
* Column Classes
* Featured Post Grid
* Archive Page
* Images
* Post Navigation
* Primary Sidebar
* Dropdowns
* Featured Page / Post
* User Profile
* Buttons
* Search Form / eNews and Update Widget
* Calendar Widget
* Footer Widgets
* Footer
* Custom Footer
* Comments
* Gravity Forms
* Responsive Design

*/

/* Credits
* The watercolor textures used in
nav-gradient-watercolor.jpg
and watercolor-texture-green.jpg
are derivative works based on
http://lostandtaken.com/blog/2009/4/30/25-free-high-res-watercolor-textures.html
------------------------------------------------------------ */

/* Defaults
------------------------------------------------------------ */

body,
h1,
h2,
h2 a,
h2 a:visited,
h3,
h4,
h5,
h6,
p,
select,
textarea {
	color: #3e3e3e;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

blockquote,
.author-box,
.breadcrumb,
.sticky,
.taxonomy-description,
.wp-caption {
	background: #E6E6E6 url(images/st19_1200x300.jpg);
}

input,
select,
textarea {
 	border: 1px solid #999;
	box-shadow: 0 0 5px #ccc inset;
	-moz-box-shadow: 0 0 5px #ccc inset;
	-webkit-box-shadow: 0 0 5px #ccc inset;
	box-sizing: border-box;
}

input,
label,
select,
textarea {
	color: #3e3e3e;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

li,
ol,
ul {
	margin: 0;
	padding: 0;
}

ol li {
	list-style-type: decimal;
}


/* Hyperlinks
------------------------------------------------------------ */

a,
a:visited {
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	color: #142e5f;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #487da3;
	text-decoration: none;
}

a img {
	border: none;
}


/* Body
------------------------------------------------------------ */

body {
	background-color: #fff;
}

::-moz-selection {
	background-color: #ed702B;
	color: #fff;
}

::selection {
	background-color: #ed702B;
	color: #fff;
}


/* Wrap
------------------------------------------------------------ */

.site-container {
	background: #E6E6E6 url(images/st19_2400x300-vignette-standards_mini.jpg) top center;
	padding-top: 20px;
}

.wrap {
	margin: 0 auto;
	width: 1140px;
}

.minimum-landing .wrap {
	width: 800px;
}


/* Header
------------------------------------------------------------ */

.site-header {
	background-position: top left!important;
	margin: 0px auto;
	min-height: 60px;
	overflow: hidden;
	width: 1140px;
}

.title-area {
	float: left;
	overflow: hidden;
}

#title {
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: bold;
	line-height: 1;
	text-transform: uppercase;
}

#title a,
#title a:hover {
	color: #487da3;
	text-decoration: none;
}
.site-title {	display: none;}.site-description {	display: none;}
#description {
	display: none;
}

.site-header .widget-area {
	float: right;
	width: 33%;
}


/* Image Header - Partial Width
------------------------------------------------------------ */

.header-image .title-area,
.header-image #title,
.header-image #title a {
	display: block;
	height: 100px;
	overflow: hidden;
	padding: 0;
}

.header-image #description {
	display: block;
	overflow: hidden;
}


/* Image Header - Full Width
------------------------------------------------------------ */

.header-full-width .title-area,
.header-full-width #title,
.header-full-width #title a {
	width: 100%;
}


/* Header / Primary / Secondary Navigation
------------------------------------------------------------ */

.nav-primary,
#subnav {
	background: #ad8c59 url(images/tan_gradient.png) repeat-x;
}

.menu-primary,
.menu-secondary,
header .menu {
	clear: both;
	color: #3e3e3e;
	font-size: 13px;
	margin: 0 auto;
	overflow: hidden;
	width: 100%;
}

header .menu {
	float: right;
	width: auto;
}

.menu-primary ul,
.menu-secondary ul,
header .menu ul {
	float: left;
	width: 100%;
}

.menu-primary li,
.menu-secondary li,
header .menu li {
	float: left;
	list-style-type: none;
}

.menu-primary a,
.menu-secondary a,
header .menu a {
	color: #3e3e3e;
	display: block;
	letter-spacing: 2px;
	padding: 20px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
}

header .menu a {
	color: #3e3e3e;
}

.menu-primary a,
.menu-secondary a {
	color: #FFFFFF;
}

.menu-primary>li>a {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-o-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-ms-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}

.menu-primary li a:active,
.menu-primary li a:hover,
.menu-primary li:hover a,
.menu-primary .current_page_item a,
.menu-primary .current-cat a,
.menu-primary .current-menu-item a,
.menu-secondary li a:active,
.menu-secondary li a:hover,
.menu-secondary li:hover a,
.menu-secondary .current_page_item a,
.menu-secondary .current-cat a,
.menu-secondary .current-menu-item a,
header .menu li a:active,
header .menu li a:hover,
header .menu li:hover a,
header .menu .current_page_item a,
header .menu .current-cat a,
header .menu .current-menu-item a {
	background: rgba(183, 160, 125, 0.8);
	color: #fff;
}

.menu-primary li li a,
.menu-primary li li a:link,
.menu-primary li li a:visited,
.menu-secondary li li a,
.menu-secondary li li a:link,
.menu-secondary li li a:visited,
header .menu li li a,
header .menu li li a:link,
header .menu li li a:visited {
	background: none;
	background-color: #fff;
	border: 1px solid #e4e4e4;
	border-top: none;
	color: #3e3e3e;
	font-size: 12px;
	padding: 10px;
	position: relative;
	text-transform: none;
	width: 163px;
}

.menu-primary li li a:active,
.menu-primary li li a:hover,
.menu-secondary li li a:active,
.menu-secondary li li a:hover,
header .menu li li a:active,
header .menu li li a:hover {
	background-color: #fff;
	color: #487da3;
}

.menu-primary li ul,
.menu-secondary li ul,
header .menu li ul {
	height: auto;
	left: -9999px;
	margin: 0 0 0 -1px;
	position: absolute;
	width: 185px;
	z-index: 9999;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.menu-primary li ul a,
.menu-secondary li ul a,
header .menu li ul a {
	width: 175px;
}

.menu-primary li ul ul,
.menu-secondary li ul ul,
header .menu li ul ul {
	margin: -39px 0 0 184px;
}

.menu li:hover ul ul,
.menu li.sfHover ul ul {
	left: -9999px;
}

.menu li:hover,
.menu li.sfHover {
	position: static;
}

ul.menu li:hover>ul,
ul.menu li.sfHover ul,
header .menu li:hover>ul,
header .menu li.sfHover ul {
	left: auto;
}

.menu li a .sf-sub-indicator,
.menu li li a .sf-sub-indicator,
.menu li li li a .sf-sub-indicator {
	position: absolute;
	text-indent: -9999px;
}

#wpadminbar li:hover ul ul {
	left: 0;
}

.menu-quicklinks-container {
	padding-top: 10px;
}


/* Primary Navigation Extras
------------------------------------------------------------ */

.menu li.right {
	float: right;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 20px;
	text-transform: uppercase;
}

.menu li.right a {
	color: #3e3e3e;
	display: inline;
}

.menu li.right a:hover {
	color: #487da3;
}

.menu li.search {
	padding: 0 10px;
}

.menu li.rss a {
	background: url(images/rss.png) no-repeat center left;
	margin: 0 0 0 10px;
	padding: 0 0 0 16px;
}

.menu li.twitter a {
	background: url(images/twitter-nav.png) no-repeat center left;
	padding: 0 0 0 20px;
}


/* Featured Image
------------------------------------------------------------ */

.featured-image {
	text-align: center;
	width: 1140px;
	margin: 0 auto;
}


/* Inner
------------------------------------------------------------ */

.site-inner {
	background: #fff url(images/inner-gradient.png) repeat-x;
	clear: both;
	margin: 0 auto;
	overflow: hidden;
	padding: 40px 0;
}

.minimum .site-inner {
	padding: 0 0 40px;
}

.minimum .site-inner .wrap {
	padding: 20px 0;
}


/* Page Title
------------------------------------------------------------ */

#page-title {
	background-color: #f5f5f5;
	border-bottom: 1px solid #e4e4e4;
	border-top: 1px solid #e4e4e4;
	clear: both;
	margin: 0 auto;
	overflow: hidden;
	padding: 30px 0;
}

#page-title p {
	font-size: 48px;
	font-weight: bold;
	line-height: 1.5;
	margin: 0;
}

a.page-title-button {
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #ad8c59 url(images/tan_gradient.png) repeat-x;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	padding: 11px 20px 10px;
	line-height: 3;
}

a.page-title-button:hover {
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	background: rgba(183, 160, 125, 0.8);
	b7a07d
}

/* Home Featured
------------------------------------------------------------ */

#home-featured {
	overflow: hidden;
	width: 100%;
}

#home-featured a.icon-facebook,
#home-featured a.icon-facebook:hover,
#home-featured a.icon-google,
#home-featured a.icon-google:hover,
#home-featured a.icon-pinterest,
#home-featured a.icon-pinterest:hover,
#home-featured a.icon-twitter,
#home-featured a.icon-twitter:hover {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50px;
	background: #ddd url(images/icons.png);
	border-radius: 50%;
	display: block;
	height: 140px;
	margin: 0 auto 30px;
	padding: 0;
	text-indent: -9999px;
	width: 140px;
}

#home-featured a.icon-facebook:hover,
#home-featured a.icon-google:hover,
#home-featured a.icon-pinterest:hover,
#home-featured a.icon-twitter:hover {
	background: #ed702b url(images/icons.png);
}

#home-featured a.icon-facebook,
#home-featured a.icon-facebook:hover {
	background-position: 0 0;
}

#home-featured a.icon-google,
#home-featured a.icon-google:hover {
	background-position: -138px 0;
}

#home-featured a.icon-pinterest,
#home-featured a.icon-pinterest:hover {
	background-position: 0 -138px;
}

#home-featured a.icon-twitter,
#home-featured a.icon-twitter:hover {
	background-position: -138px -138px;
}

.home-featured-1,
.home-featured-2,
.home-featured-3,
.home-featured-4 {
	float: left;
	margin: 0;
	overflow: hidden;
	width: 25%;
}

#home-featured .widget-wrap {
	margin-right: 10px;
	margin-left: 10px;
}

#home-featured .home-featured-1 .widget-wrap {
	margin-left: 10px;
}

#home-featured .home-featured-4 .widget-wrap {
	margin-right: 0;
}

#home-featured .widgettitle {
	text-align: center;
	color: #005187;
}

#home-featured ul {
	list-style-type: none;
}

#home-featured .widget-wrap {
	background: #E6E6E6 url(images/st19_1200x300.jpg);
	padding: 10px;
	text-align: center;
}

#home-featured .widget_text .widget-wrap {
	padding-top: 0;
}

/* Breadcrumb
------------------------------------------------------------ */

.breadcrumb {
	font-size: 12px;
	margin: 0 0 30px;
	padding: 10px 15px;
}


/* Taxonomy Description
------------------------------------------------------------ */

.taxonomy-description {
	margin: 0 0 30px;
	padding: 15px 20px;
}

.taxonomy-description p {
	font-size: 14px;
}


/* Content-Sidebar Wrap
------------------------------------------------------------ */

.content-sidebar-wrap {
	float: left;
	width: 100%;
}


/* Content
------------------------------------------------------------ */

.content {
	float: left;
	width: 740px;
}

.sidebar-content .content {
	float: right;
}

.full-width-content .content {
	width: 100%;
}

.hentry {
	margin: 0 0 50px;
}

.single-portfolio .hentry {
	margin: 0;
}

.entry-content {
	overflow: hidden;
}

.entry-content p {
	margin: 0 0 20px;
}

blockquote {
	background: url(images/blockquote.png) no-repeat;
	border: none;
	margin: 5px 5px 20px;
	padding: 25px 30px 5px 70px;
}

blockquote p {
	color: #999;
	font-style: italic;
}

p.subscribe-to-comments {
	padding: 20px 0 10px;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.sticky {
	background-color: #f5f5f5;
	margin: 0 0 40px;
	padding: 20px 30px;
}

.clear {
	clear: both;
}

.clear-line {
	border-bottom: 1px dotted #ddd;
	clear: both;
	margin: 0 0 25px;
}


/* Portfolio
------------------------------------------------------------ */

.post-type-archive-portfolio .portfolio {
	float: left;
	margin: 0 15px 30px;
	width: 340px;
}

.portfolio-featured-image a img {
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	border: 10px solid #f5f5f5;
	transition: all 0.2s ease-in-out;
}

.portfolio-featured-image a img:hover{
	border: 10px solid #ddd;
}

.single-portfolio .content {
	text-align: center;
}

.single-portfolio img {
	border: 20px solid #f5f5f5;
}


/* Headlines
------------------------------------------------------------ */

h1,
h2,
h2 a,
h2 a:visited,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 1.25;
	margin: 0 0 10px;
	color: #007BA5;
}

h1,
h2,
h2 a,
h2 a:visited {
	font-size: 30px;
}

h1 {
	color: #142e5f;
	font-weight: 700;
}



.single-portfolio h1 {
	margin: 0 0 20px;
}

h2 a,
h2 a:visited {
	color: #3e3e3e;
}

h2 a:hover {
	color: #487da3;
	text-decoration: none;
}

.sidebar h2 a,
.sidebar h2 a:hover {
	font-size: 16px;
}

h3,
.genesis-grid h2 a,
.genesis-grid h2 a:hover {
	color: #142e5f
	font-size: 24px;
}

h4 {
	color: #142e5f
	font-size: 20px;
}

h5 {
	color: #142e5f
	font-size: 18px;
}

h6,
.taxonomy-description h1 {
	color: #142e5f
	font-size: 16px;
}


/* Ordered / Unordered Lists
------------------------------------------------------------ */

.entry-content ol,
.entry-content ul {
	margin: 0;
	padding: 0 0 25px;
}

.archive-page ul li,
.entry-content ul li {
	list-style-type: square;
	margin: 0 0 0 35px;
	padding: 0;
}

.entry-content ol li {
	margin: 0 0 0 35px;
}

.archive-page ul ul,
.entry-content ol ol,
.entry-content ul ul {
	padding: 0;
}


/* Post Info / Meta
------------------------------------------------------------ */

.post-info,
.post-meta {
	clear: both;
	color: #999;
	font-size: 12px;
	text-transform: uppercase;
}

.post-info {
	margin: 0 0 25px;
}

.genesis-grid .post-info {
	margin: 0 0 10px;
}

.post-meta {
	border-top: 1px dotted #ddd;
	padding: 10px 0 0;
}

.post-info a,
.post-info a:visited,
.post-meta a,
.post-meta a:visited {
	color: #999;
	font-weight: normal;
}

.post-info a:hover,
.post-meta a:hover {
	color: #487da3;
}


/* Author Box
------------------------------------------------------------ */

.author-box {
	background: none;
	margin: 0 0 50px;
	overflow: hidden;
}

.author-box p {
	font-size: 16px;
}


/* Column Classes
------------------------------------------------------------ */

.five-sixths,
.four-fifths,
.four-sixths,
.one-fifth,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fifths,
.three-fourths,
.three-sixths,
.two-fifths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin: 0 0 20px;
	padding-left: 3%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48%;
}

.one-third,
.two-sixths {
	width: 31%;
}

.four-sixths,
.two-thirds {
	width: 65%;
}

.one-fourth {
	width: 22.5%;
}

.three-fourths {
	width: 73.5%;
}

.one-fifth {
	width: 17.4%;
}

.two-fifths {
	width: 37.8%;
}

.three-fifths {
	width: 58.2%;
}

.four-fifths {
	width: 78.6%;
}

.one-sixth {
	width: 14%;
}

.five-sixths {
	width: 82%;
}

.first {
	clear: both;
	padding-left: 0;
}


/* Featured Post Grid
------------------------------------------------------------ */

.genesis-grid p {
	font-size: 16px;
}

.genesis-grid-even,
.genesis-grid-odd {
	border-bottom: 1px dotted #ddd;
	margin: 0 0 30px;
	padding: 0;
	width: 47%;
}

.genesis-grid-even {
	float: right;
}

.genesis-grid-odd {
	clear: both;
	float: left;
}


/* Archive Page
------------------------------------------------------------ */

.archive-page {
	float: left;
	padding: 20px 0 0;
	width: 45%;
}


/* Images
------------------------------------------------------------ */

img {
	height: auto;
	max-width: 100%;
}

.post-image {
	margin: 0 10px 10px 0;
}

.alignleft .avatar {
	margin: 0 10px 0 0;
}

.alignright .avatar {
	margin: 0 0 0 10px
}

.author-box .avatar {
	float: left;
	margin: 0 20px 0 0;
}

.comment-list li .avatar {
	float: left;
	margin: 0 10px 10px 0;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 20px;
}

img.alignnone {
	display: inline;
	margin: 0 0 10px;
}

img.alignleft,
.wp-caption.alignleft {
	display: inline;
	margin: 0 20px 20px 0;
}

img.alignright,
.wp-caption.alignright {
	display: inline;
	margin: 0 0 20px 20px;
}

.wp-caption {
	padding: 20px;
	text-align: center;
}

p.wp-caption-text {
	font-size: 14px;
	margin: 5px 0;
}

.wp-smiley,
.wp-wink {
	border: none;
	float: none;
}


/* Post Navigation
------------------------------------------------------------ */

.navigation {
	font-size: 14px;
	overflow: hidden;
	padding: 20px 0;
	width: 100%;
}

.navigation li {
	display: inline;
}


/* Primary Sidebar
------------------------------------------------------------ */

.sidebar {
	display: inline;
	float: right;
	font-size: 16px;
	width: 300px;
}


.sidebar-content .sidebar-primary {
	float: left;
}

.sidebar p,
.widget_custom_post_widget p,
.widget_custom_post_widget ol,
.widget_custom_post_widget ul {
	margin: 0 0 1em;
}

/* #sidebar a,
#sidebar a:visited {
	color: #3e3e3e;
} */

/* #sidebar a:hover {
	color: #ed702b;
} */

.sidebar .widget {
	margin: 0 0 40px;
}

#footer-widgets ul li,
.sidebar-primary ul li {
  	border-bottom: 1px dotted #ddd;
	list-style-type: none;
	margin: 0 0 5px 2px;
}

/* #footer-widgets ul li a,
#footer-widgets ul li a:visited,
#sidebar ul li a,
#sidebar ul li a:visited {
	color: #ed702b;
	font-weight: normal;
} */

#footer-widgets ul li a:hover,
.sidebar-primary ul li a:hover {
	color: #487da3;
}

.sidebar-primary .tagcloud a,
.sidebar-primary .tagcloud a:visited {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: none;
	background-color: #3e3e3e;
	border-radius: 3px;
	border: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	margin: 0 5px 5px 0;
	padding: 5px 10px;
}

.sidebar-primary .tagcloud a:hover {
	background-color: #ed702b;
	color: #fff;
}

.sidebar-primary .widget-wrap {
	background: #E6E6E6 url(images/st19_1200x300.jpg);
	padding: 10px 10px 10px 10px;
}

.sidebar-primary .widget-wrap h4,
#home-featured .widget-wrap h4 {
	position: relative;
	background: #142e5f url(images/blue_gradient.png) top center;
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	padding: 10px 10px 10px 20px;
	margin-left: -20px;
	box-shadow: 0px 2px 4px #888;
	-webkit-box-shadow: 0px 2px 4px #888;
	-moz-box-shadow: 0px 2px 4px #888;
	font-weight: bold;
}

/* Create a ribbon effect */

.sidebar-primary .widget-wrap h4:after,
#home-featured .widget-wrap h4:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
	top: 100%;
	border-width: 3px 5px;
	border-style: solid;
	border-color: #666 #666 transparent transparent;
}

.sidebar-primary .widget-wrap h4 a {
	color: #3e3e3e;
	text-decoration: none;
}


/* Dropdowns
------------------------------------------------------------ */

.widget_archive select,
#cat {
	display: inline;
	padding: 3px;
	width: 95%;
}


/* Featured Page / Post
------------------------------------------------------------ */

.featuredpage,
.featuredpost {
	clear: both;
	margin: 0 0 15px;
	overflow: hidden;
}

.featuredpage .page,
.featuredpost .post {
	border-bottom: 1px dotted #ddd;
	margin: 0 0 10px;
	overflow: hidden;
	padding: 0 0 10px;
}


/* User Profile
------------------------------------------------------------ */

.user-profile {
	overflow: hidden;
}


/* Buttons
------------------------------------------------------------ */

input[type="button"],
input[type="submit"],
.navigation li a,
.navigation li.disabled,
.navigation li a:hover,
.navigation li.active a {
	-moz-transition: all 0.2s ease-in-out;
	-moz-border-radius: 5px;
	-webkit-transition: all 0.2s ease-in-out;
	-webkit-border-radius: 5px;
	background-color: #3e3e3e;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	padding: 10px 20px;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

input:hover[type="button"],
input:hover[type="submit"],
.navigation li a:hover,
.navigation li.active a {
	background-color: #ed702b;
	border: none;
	text-decoration: none;
}


/* Search Form / eNews and Update Widget
------------------------------------------------------------ */

.enews #subbox,
.s {
	border: 1px solid #ccc;
	box-shadow: 0 0 5px #ccc inset;
	-moz-box-shadow: 0 0 5px #ccc inset;
	-webkit-box-shadow: 0 0 5px #ccc inset;
	box-sizing: border-box;
	background-color: #fff;
	color: #999;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	padding: 15px;
	text-transform: uppercase;
	width: 100%;
}

.nav-primary .searchform {
	margin: 3px 0 0;
}

.enews #subbutton,
.searchsubmit {
	display: none;
}

.enews p {
	margin: 0 0 10px;
}


/* Calendar Widget
------------------------------------------------------------ */

#wp-calendar {
	width: 100%;
}

#wp-calendar caption {
	font-size: 12px;
	font-style: italic;
	padding: 2px 5px 0 0;
	text-align: right;
}

#wp-calendar thead {
	background-color: #f5f5f5;
	font-weight: bold;
	margin: 10px 0 0;
}

#wp-calendar td {
	background-color: #f5f5f5;
	padding: 2px;
	text-align: center;
}


/* Footer Widgets
------------------------------------------------------------ */

#footer-widgets {
	background-color: #f5f5f5;
	border-top: 1px solid #e4e4e4;
	clear: both;
	font-size: 14px;
	margin: 0 auto;
	overflow: hidden;
	width: 100%;
}

#footer-widgets .wrap {
	overflow: hidden;
	padding: 40px 0 20px;
}

#footer-widgets .widget {
	background: none;
	border: none;
	margin: 0 0 15px;
	padding: 0;
}

#footer-widgets p {
	font-size: inherit;
	margin: 0 0 20px;
}

#footer-widgets ul {
	margin: 0;
}

.footer-widgets-1 {
	float: left;
	margin: 0 30px 0 0;
	width: 360px;
}

.footer-widgets-2 {
	float: left;
	width: 360px;
}

.footer-widgets-3 {
	float: right;
	width: 360px;
}


/* Footer
------------------------------------------------------------ */

.site-footer {
	background: #ad8c59 url(images/tan_gradient.png) repeat-x;
	clear: both;
	color: #CCC;
	font-size: 13px;
	margin: 0 auto;
	overflow: hidden;
	width: 100%;
	box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.3);
}

.site-footer .wrap {
	overflow: hidden;
	padding: 30px 0 0 0;
}

.site-footer p {
	color: inherit;
	font-size: inherit;
	margin: 0 0 25px;
}

.site-footer a,
.site-footer a:visited {
	color: #fff;
	font-weight: normal;
	text-decoration: none;
}

.site-footer a:hover {
	color: #000;
	text-decoration: none;
}

.site-footer .gototop {
	float: left;
	width: 35%;
}

.site-footer .creds {
	float: right;
	text-align: right;
	width: 60%;
}


/* Custom Footer
------------------------------------------------------------ */

.site-footer .custom-footer,
.site-footer .custom-footer .menu {
	text-align: center;
}

.site-footer .custom-footer .widget {
	clear: both;
}

.site-footer .custom-footer .menu {
	float: none;
	margin: 0 0 20px;
}

.site-footer .custom-footer li {
	display: inline-block;
	float: none;
	margin: 0 30px;
	list-style-type: none;
}

.site-footer .custom-footer li a,
.site-footer .custom-footer li a:visited {
	color: #fff;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.site-footer .custom-footer li a:hover {
	color: #999;
	text-transform: uppercase;
}


/* Comments
------------------------------------------------------------ */

#comments,
#respond {
	margin: 0 0 15px;
	overflow: hidden;
}

#author,
#comment,
#email,
#url {
	-moz-box-shadow: 0 0 5px #ccc inset;
	-webkit-box-shadow: 0 0 5px #ccc inset;
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 0 5px #ccc inset;
	margin: 10px 5px 0 0;
	padding: 5px;
	width: 250px;
}

#comment {
	height: 150px;
	margin: 10px 0;
	width: 98%;
}

.ping-list {
	margin: 0 0 40px;
}

.comment-list ol,
.ping-list ol {
	padding: 10px;
}

.comment-list li,
.ping-list li {
	list-style-type: none;
	margin: 20px 0 10px;
	padding: 15px 20px;
}

.comment-list li ul li {
	margin-right: -20px;
}

.comment-content {
	clear: both;
}

.comment-content p {
	font-size: 16px;
	margin: 0 0 20px;
}

.comment-list cite,
.ping-list cite {
	font-style: normal;
}

.commentmetadata {
	font-size: 12px;
	margin: 0 0 5px;
}

.reply {
	font-size: 14px;
}

.nocomments {
	text-align: center;
}

#comments .navigation {
	display: block;
}

.depth-1,
.even {
	border-left: 5px solid #f5f5f5;
}


/* Gravity Forms
------------------------------------------------------------ */

div.gform_wrapper input,
div.gform_wrapper select,
div.gform_wrapper textarea {
	box-sizing: border-box;
	font-size: 14px !important;
	padding: 6px 10px !important;
}

div.gform_footer input.button {
	color: #fff;
	padding: 10px 20px !important;
}

div.gform_wrapper .ginput_complex label {
	font-size: 14px;
}

div.gform_wrapper li,
div.gform_wrapper form li {
	margin: 0 0 10px;
}

div.gform_wrapper .gform_footer {
	border: none;
	margin: 0;
	padding: 0;
}

.gce-page-list {
	display: none;
}


/* Responsive Design
------------------------------------------------------------ */

@media only screen and (max-width: 1200px) {

	.wrap,
	header {
		width: 960px;
	}

	.content {
		width: 600px;
	}

	.post-type-archive-portfolio .portfolio {
		width: 280px;
	}

	.featured-image {
		width: 100%;
	}

	.menu li.right {
		display: none;
	}

}

@media only screen and (max-width: 1023px) {

	body {
		font-size: 16px;
		margin: 0 auto;
		width: 100%;
	}

	header {
		background-position: top center!important;
		margin: 0 auto;
		min-height: 100px;
		overflow: hidden;
		width: 1140px;
	}		.site-logo img {		padding-left: 18px;	}

	p {
		font-size: 16px;
	}

	.archive-page,
	.content-sidebar .content,
	.content-sidebar-sidebar .content,
	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.full-width-content .content,
	.menu-primary,
	.menu-secondary,
	.minimum-landing .wrap,
	.sidebar,
	.sidebar-content .content,
	.sidebar-content-sidebar .content,
	.sidebar-sidebar-content .content,
	.wrap,
	.content-sidebar-wrap,
	.site-footer .creds,
	.site-footer .gototop,
	#footer-widgets .wrap,
	.site-header,
	.site-header ul.menu,
	.site-header .widget-area,
	#sidebar-alt,
	.title-area {
		width: 100%;
	}

	.menu-primary,
	.menu-secondary,
	#description,
	.site-footer .creds,
	.site-footer .gototop,
	.site-header ul.menu,
	.site-header .search-form,
	#title,
	.title-area {
		float: none;
		text-align: center;
	}

	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.site-header .search-form,
	.site-container {
		margin: 0;
	}

	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.content,
	#description,
	#footer-widgets .wrap,
	.site-header .widget-area,
	#title,
	#title a,
	#title a:hover,
	.site-header .search-form,
	.title-area {
		padding: 0;
	}

	#title {
		margin: 10px 0 0;
	}

	.menu-primary li,
	.menu-secondary li,
	.site-header ul.menu li {
		display: inline-block;
		float: none;
	}

	.menu-primary a,
	.menu-secondary a,
	.site-header .menu a {
		border: none;
		padding: 10px;
	}

	.menu li li {
		text-align: left;
	 }

	 #page-title {
		 padding: 10px 0;
	 }

	#page-title p {
		font-size: 24px;
		text-align: center;
	}

	.minimum .site-inner,
	.site-inner {
		padding: 20px;
	}

	.minimum .site-inner .wrap {
		padding: 0;
	}

	.post-type-archive-portfolio .portfolio {
		margin: 10px 15px;
		width: 45%;
	}

	.single-portfolio img {
		border: none
	}

	#footer-widgets .widget {
		padding: 20px 20px 0;
	}

	.site-footer .custom-footer li {
		margin: 0 10px;
	}

	.site-footer .wrap {
		box-sizing: border-box;
		padding: 25px 10px 0;
	}

	.home-featured-1,
	.home-featured-2,
	.home-featured-3,
	.home-featured-4 {
		padding: 20px 0 0 0;
		width: 50%;
	}

	#home-featured .home-featured-1 .widget-wrap,
	#home-featured .home-featured-3 .widget-wrap {
		margin-right: 10px;
		margin-left: 10px;
	}{
		margin-right: 10px;
		margin-left: 0px;
	}

	#home-featured .home-featured-2 .widget-wrap,
	#home-featured .home-featured-4 .widget-wrap {
		margin-right: 0px;
		margin-left: 10px;
	}

	.featured-image {
		width: 100%;
	}

	.menu-quicklinks-container {
		padding-top: 0;
	}

	.site-footer table {
		margin: 0 auto 20px auto;
	}
}

@media only screen and (max-width: 600px) {

	#home-featured {
		padding: 30px 0 0;
	}

	.home-featured-1,
	.home-featured-2,
	.home-featured-3,
	.home-featured-4 {
		padding: 0 0 30px;
		width: 100%;
	}

	.genesis-grid-even,
	.genesis-grid-odd {
		width: 100%
	}

	.post-type-archive-portfolio .portfolio {
		margin: 0 0 20px;
		text-align: center;
		width: 100%;
	}

	.portfolio-featured-image a img,
	.portfolio-featured-image a img:hover {
		border: none;
	}

	.five-sixths,
	.four-fifths,
	.four-sixths,
	.one-fifth,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fifths,
	.three-fourths,
	.three-sixths,
	.two-fifths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		padding: 0;
		width: 100%;
	}

	.navigation li a,
	.navigation li.disabled,
	.navigation li a:hover,
	.navigation li.active a {
		padding: 5px 10px;
	}

	#home-featured .home-featured-1 .widget-wrap,
	#home-featured .home-featured-2 .widget-wrap,
	#home-featured .home-featured-3 .widget-wrap,
	#home-featured .home-featured-4 .widget-wrap {
		margin-right: 0px;
		margin-left: 10px;
	}

	.featured-image {
		width: 100%;
	}

	.responsive-iframe-container,
	#calendar-directions {
		display: none;
	}

	.gce-page-list {
		display: block;
	}
}

@media only screen and (max-width: 300px) {

	.home-featured-1,
	.home-featured-2,
	.home-featured-3,
	.home-featured-4 {
		padding: 0 0 30px;
		width: 100%;
	}

	.featured-image {
		width: 100%;
	}
}

@media print {
	header, .nav-primary, .site-footer, .sidebar-primary, .breadcrumb {
		display: none;
	}

	.content {
		max-width: 35em;
	}
	/* Rules for Calendar page */
	h2.tribe-events-cal-title, div#tribe-events-calendar-header {
		display: none;
	}

	body.events-gridview, body.events-gridview table.tribe-events-calendar {
		max-width: 72em;
	}

	.tribe-events-calendar td a {
		font-size: 0.75em;
	}
}


.entry-content {
	overflow: visible;
}

.navlink {
padding-bottom: 24px;
}


.sermon, #sa_widget_content .text {
font-family: 'Open Sans', sans-serif;
}

#wpstats {
display: none;
}

/***** Craig's edits for Upcoming Events widget - 09/25/13 *****/
.tribe-events-adv-list-widget ol li {
	margin-bottom: 10px !important;
}

.tribe-events-adv-list-widget .duration {
	font-weight: normal !important;
}

.tribe-events-widget-link a {
	display: none !important;
}

/***** Craig's edits for embedded Google Calendar - 01/31/14 *****/

.gce-list-event {
	color: #142e5f;
	font-weight: bold;
}

/*
.gce-feed-1 a {
	padding-bottom: 15px;
}
*/
