/* added by Craig for ticket #106 10-25-13 */
/* iPhone [portrait + landscape] */
@media only screen and (max-device-width: 480px) {
body { min-width: 550px; }
.tribe-events-thismonth, .tribe-events-othermonth { min-width: 50px; max-width:60px; }
#tribe-events-calendar-header { padding-top: 3em; }
.tribe-events-calendar-buttons { top:0; left:0; }
.tribe-events-calendar-widget td a.tribe-events-mini-has-event { cursor: pointer; }
}
